html {
  height: 100vh;
  width: 100vw;
}

body {
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
}

div.textCard {
    background-color: #ffffff;
    border-style: solid;
    border-width: 4px;
    border-color: lightgrey;

    width: 80vw;
    height: 26.46vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* don't get weird blue border when I type */
textarea:focus {
    outline: none;
}

textarea {
    border: none;
    font-size: 0.8em;
    font-family: helvetica;
    text-align: center;
}

#maintopdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 17vh;
}

#logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  color: #606B9B;
  font-size: 2.8em;
}

.purplebutton {
  font-family: helvetica;
  color: #ffffff;
  background-color: #606B9B;
  font-size: 0.56em;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  width: 24vw;
  text-align: center;
  font-weight: 300;
}

#cannotsee {
  background-color: #ffffff;
  width: 15vw;
}

#maincardsdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}

#mainRight {
  font-size: 0.8em;
  font-family: helvetica;
  display: center;
  text-align: center;
}

#bottom {
  text-align: center;
  color: #ffffff;
  background-color: #606B9B;
  font-family: helvetica;
  font-size:0.68em;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenbutton {
  font-family: helvetica;
  color: #ffffff;
  background-color: #70C7A9;
  font-size: 0.68em;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  width: 26vw;
  text-align: center;
  font-weight: 300;
}

#mainsavediv {
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding-right: 10vw;
  padding-left: 10vw;
}

#answertopdiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 17vh;
}

#answercardsdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
}

#answer1 {
  height: 38.28vh;
  font-size: 0.8em;
  font-family: helvetica;
  position: relative;
}

#answer2 {
  height: 11.72vh;
  justify-content: flex-start;
}

#answerguesscard {
  text-align: left;
  padding-left: 20px;
}

#answernextdiv {
  height: 16vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
  padding-right: 10vw;
  padding-left: 10vw;
}

#refresh {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 8.33vh;
  width: 8.33vw;
}

@media only screen and (min-width: 600px) {

#maincardsdiv {
  flex-direction: row;
  padding-left: 5vw;
  padding-right: 5vw;
}

div.textCard {
  height: 35vh;
  width: 42vw;
}

#mainsavediv {
  padding-left: 6vw;
  padding-right: 6vw;
}

.greenbutton {
  width: 20.83vw;
  font-size: 1.5em;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#mainLeft {
  padding-top: 30px;
}

textarea {
  font-size: 1.8em;
}

#logo {
  font-size: 4.2em;
}

.purplebutton {
  font-size: 1.5em;
  border-radius: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
}

#mainRight {
  font-size: 1.8em;
}

#bottom {
  font-size: 1.5em;
}


#answer1 {
  width: 78.33vw;
  font-size: 1.8em;
}

#answer2 {
  width: 78.33vw;
}

#bottom {
  font-weight: 300;
}

}


@media only screen and (min-width: 900px) {

.purplebutton {
  width: 16vw;
}

div.textCard {
  height: 45.31vh;
  width: 31.30vw;
}

#maincardsdiv {
  padding-left: 15vw;
  padding-right: 15vw;
}

#mainsavediv {
  padding-left: 17vw;
  padding-right: 17vw;
}

#maintopdiv {
  justify-content: space-between;
  padding-left: 6.08vw;
  padding-right: 6.08vw;
}

.greenbutton {
  width: 11.7vw;
}

#answertopdiv {
  justify-content: space-between;
  padding-left: 6.08vw;
  padding-right: 6.08vw;
}

#answer1 {
  width: 53.5vw;
}

#answer2 {
  width: 53.5vw;
}

#answernextdiv {
  padding-left: 24vw;
  padding-right: 24vw;
}

}



#landingPageTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 71.3vh;
    background-image: linear-gradient(rgb(96, 107, 155), rgb(177, 145, 212));
    filter: drop-shadow(0 40px 30px rgb(166, 166, 166));
}
.welcomeText{
    display: flex;
    font-size: 10vw;
    padding-top:1em;
    color: white;
    font-weight: bold;
    padding-left:1.6em;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 0.7em;
}

.customizeVocab{
    display: flex;
    font-size: 5vw;
    margin-right: 3em;
    margin-left: 2em;
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    color: rgb(78, 202, 168);
}

#landingPageBottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 28.7vh;
    width:100vw;
    background-color: white;
}

.greenBar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20em;
    height: 10vh;
    background-color: rgb(78, 202, 168);
}

#googleImg{
    display: flex;
    width: 70px;
    height:60px;
    object-fit:cover;
}

#logInText{
    display:flex;
    font-size:1.5em;
    color:white;
    font-weight: 300;
    font-family: helvetica;
}

@media screen and (min-width: 600px){
    #landingPageTop{
        height: 68.1vh;
        width:100vw;
    }
    .welcomeText{
        display: flex;
        width: 58.2vw;
        height:11.9vh;
        font-size: 7.2vw;
        padding-right:0em;
        padding-top:0em;
        padding-bottom: 1em;
    }
    .customizeVocab{
        font-size: 3.6vw;
        margin-right: 3em;
        margin-left: 2em;
    }
    #landingPageBottom{
        height: 31.9vh;
        width: 100vw;
    }

    .greenBar{
        width: 40vw;
        height: 8.5vh;
        background-color: rgb(78, 202, 168);
    }

    #googleImg{
        display: flex;
        padding-left:-2em;
        width: 50px;
        height:50px;
        object-fit:cover;
    }

    #logInText{
        font-size:2.6vw;
        font-weight: 300;
    }
}

@media screen and (min-width: 900px){
    main{
        display:flex;
        flex-direction:row;
        width:100vw;
    }
    #landingPageTop{
        height: 100vh;
        width:50vw;
        filter: drop-shadow(0 70px 70px rgb(166, 166, 166));
    }
    .welcomeText{
        display: flex;
        font-size: 6vw;
        width: 36.8vw;
        padding-top:0em;
        padding-left:1em;
        padding-bottom: 1.2em;
    }
    .customizeVocab{
        font-size: 2.8vw;
        width: 36.8vw;
        margin-right: 0em;
        margin-left: 2.5em;
    }
    #landingPageBottom{
        display: flex;
        flex-direction: column;
        width:50vw;
        height:100vh;
    }
    .greenBar{
        width:24.3vw;
        height: 10vh;
    }
    #googleImg{
        display: flex;
        width: 60px;
        height:60px;
        object-fit:cover;
    }
    #logInText{
        font-size:2vw;
        font-weight: 200;
    }
}
